.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}
.wrapper > div {
  display: flex;
  justify-content: space-between;
}
.statusButton {
  width: 100%;
}
